<% if !@track %>
	<div class="alert alert-error">The track could not be found. Please try searching again.</div>
<% else %>
<% title @track['artist']['name'] + ' - ' + @track['name'], false %>
<% description 'Listen to ' + @track['artist']['name'] + ' - ' + @track['name'] + ' and other great tracks from ' + @track['artist']['name'] + ' and similar artists on Molamp' %>
<% meta_var =
		'<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">'+ 
		'<meta property="fb:app_id" content="224617567667902" />'+
		'<meta property="og:type" content="music.song" />'+
		'<meta property="og:url" content="http://www.molamp.net/artists/'+url_to_lastfm(@track['artist']['name'])+'/_/'+url_to_lastfm(@track['name'])+'" />'+
		'<meta property="og:title" content="'+@track['artist']['name'] + ' - ' + @track['name']+'" />'+
		'<meta property="og:image" content="'+@track['album']['image'][1]['content']+'" />'+
		'<meta property="music:album:url" content="http://www.molamp.com/artists/'+url_to_lastfm(@track['artist']['name'])+'/'+url_to_lastfm(@track['album']['title'])+'" />'
meta meta_var.html_safe %>

<div>
	<div class="page-header">
		<h3><%= link_to @track['artist']['name'], '/artists/' + url_to_lastfm(@track['artist']['name'])  %> <small><%= @track['name'] %></small></h3>
	</div>
	
	<center><div id="ytplayer" style="width:600px;height:400px;"></div></center>
	<br />
</div>

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/artists/<%= url_to_lastfm(@track['artist']['name']) %>"><%= @track['artist']['name'] %></a> <span class="divider">/</span></li>
  <li class="active"><%= @track['name']  %></li>
</ul>

<script type="text/javascript">
	function searchYoutubeVideo() {
		$.ajax({
			url: Youtube.url,
			success: function(data) {				
				if (typeof data.feed.entry !== 'undefined') {
					var song_url = data.feed.entry[0].link[0].href,
						regex = /[a-zA-Z0-9_-]+(?=&)/,
						matched = regex.exec(song_url);
	
					Youtube.player.cueVideoById(matched[0]);
	
					_gaq.push(['_trackEvent', 'Tracks', 'Play', track.artist + ' - ' + track.title]);
				} else {
					$.gritter.add({
						title: 'Track not found...',
						image: track.image,
						text: track.artist + ' - ' + track.title
					});
				}
			},
			data: {
				q: '<%= @track['artist']['name'] + ' ' + @track['name'] %>',
				orderby: 'relevance',
				alt: 'json',
				format: 5,
				key: Youtube.key
				//restriction: 'RO'
			},
			dataType: 'json'
		});
	}
	
	$(function() {
		setTimeout(searchYoutubeVideo, 2000); 
	});
</script>

<% end %>
