<% if !@artist %>
	<div class="alert alert-error">The artist could not be found. Please try searching again.</div>
<% else %>
<% title @artist['name'], false %>

<div class="row-fluid">
  <div class="span3">
  	<%= @artist['image'][4]['content'] ? image_tag(@artist['image'][4]['content'], :alt => @artist['name']) : image_tag('noimage.jpg', :alt => 'Sorry, no image available') %>
  </div>
  <div class="span9">
  	<h2><%= @artist['name'] %></h2>
	<p><strong><%= @artist['stats']['listeners'] %></strong> listeners on last.fm</p>
	<p><%= @artist['bio']['summary'].is_a?(Hash) ? 'No bio' : Sanitize.clean(@artist['bio']['summary']) %></p>
	<h3>Similar:</h3>	
	<% if @artist['similar']['artist'].size > 0 %>
	<ul class="thumbnails">
	<% @artist['similar']['artist'].each do |artist| %>
	  <li class="span2" style="background-color: #FFF;">
	    <div class="thumbnail">
	      <%= artist['image'][1]['content'] ? image_tag(artist['image'][1]['content'], :alt => artist['name']) : image_tag('noimage.jpg', :alt => 'Sorry, no image available') %>
	      <center><%= link_to artist['name'], '/artists/' + url_to_lastfm(artist['name']) %></center>
	    </div>
	  </li>
	<% end %>
	</ul>
	<% end %>
	
  </div>
</div>

<div class="row-fluid">
	<div class="span9">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#top-tracks" data-toggle="tab">Top tracks</a></li>
		  <li><a href="#top-albums" data-toggle="tab">Top albums</a></li>
		</ul>
 
		<div class="tab-content">
		  <div class="tab-pane active" id="top-tracks">
				<table class="table table-bordered table-condensed">
					<thead></thead>
					<tbody>
					<% if @top_tracks %>
						<% i=0; @top_tracks.each do |track| %>
						<tr id="track-<%= i.to_s() %>" style="background-color: #FFF">
							<td><%= i+1 %></td>
							<td>
								<div class="row-fluid">
				  					<div class="span1">
				  						<%= track['image'] ? image_tag(track['image'][1]['content'], :alt => track['name'], :class => 'img-rounded') : image_tag('noimage.jpg', :alt => 'Sorry, no image available') %>
				  					</div>
				  					<div class="span9">
				  						<h4><%= link_to(track['name'], 'javascript:Playlist.play("'+i.to_s()+'")') %></h4><br />
				  						<strong><%= track['playcount'] %></strong> times played on last.fm
				  					</div>
				  					<!--
				  					<div class="span2">
				  						<a href="#" class="btn"><i class="icon-th-list"></i></a>
				  					</div>
				  					-->
								</div>
							</td>
						</tr>
						<% i=i+1; end %>
					<% else %>
						<tr>
							<td>Artist has no tracks.</td>
						</tr>
					<% end %>
					</tbody>
				</table>
		  </div>
		  
		  <div class="tab-pane" id="top-albums">
		  		<table class="table table-bordered table-condensed">
					<thead></thead>
					<tbody>
					<% if @top_albums %>
						<% i=0; @top_albums.each do |album| %>
						<tr id="album-<%= i.to_s() %>" style="background-color: #FFF">
							<td><%= i+1 %></td>
							<td>
								<div class="row-fluid">
				  					<div class="span2">
				  						<%= album['image'] ? image_tag(album['image'][1]['content'], :alt => album['name']) : image_tag('noimage.jpg', :alt => 'Sorry, no image available') %>
				  					</div>
				  					<div class="span10">
				  						<h4><%= link_to(album['name'], '/artists/' + url_to_lastfm(@artist['name']) + '/' + url_to_lastfm(album['name'])) %></h4><br />
				  						<strong><%= album['playcount'] %></strong> played on Last.fm
				  					</div>
								</div>
							</td>
						</tr>
						<% i=i+1; end %>
					<% else %>
						<tr>
							<td>Artist has no albums.</td>
						</tr>
					<% end %>
					</tbody>
				</table>
		  </div>
		</div>
		
	</div>
	<div class="span3">
		<div id="ytplayer" style="width:200px;height:250px;"></div>
	</div>
</div>

<% if @top_tracks %>
<script type="text/javascript">
$(function() {
	Playlist.artist = "<%= @artist['name'] %>";
	<% i=0; @top_tracks.each do |track| %>
	Playlist.tracks.push({uid: <%= i.to_s() %>, title: "<%= track['name'] %>"});
	<% i=i+1; end %>
});
</script>
<% end %>

<% end %>

