<% if !@artist %>
	<div class="alert alert-error">The artist could not be found. Please try searching again.</div>
<% else %>
	<% title @artist['name'], false %>
	<% description @artist['bio']['summary'].is_a?(Hash) ? 'No bio' : truncate(Sanitize.clean(@artist['bio']['summary']), :length => 150) %>
	<% meta_var = 
			'<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">'+
			'<meta property="fb:app_id" content="224617567667902" />'+
			'<meta property="og:type" content="music.playlist" />'+
			'<meta property="og:url" content="http://www.molamp.net/artists/'+url_to_lastfm(@artist['name'])+'" />'+
			'<meta property="og:title" content="'+@artist['name']+'" />'+
			'<meta property="og:image" content="'+@artist['image'][3]['content']+'" />'
	meta meta_var.html_safe %>
	
	<div class="row-fluid" itemscope itemtype="http://schema.org/MusicGroup">
	  <div class="span3">  	
	  	<%= 
	  		if @artist['image'][3]['content'] 
	  			image_tag(@artist['image'][3]['content'], :alt => @artist['name'], :class => 'img-polaroid', :id => 'artist_image')
	  		else 
	  			image_tag('noimage_big.jpg', :alt => 'Sorry, no image available')
	  		end 
	  	%>
	  </div>
	  <div class="span9">
	  	<div class="row-fluid">
			<div class="span10">
				<h1 itemprop="name"><%= @artist['name'] %></h1>
				<p><span class="badge"><%= @artist['stats']['listeners'] %></span> listeners on <a href="<%= @artist['url'] %>" target="_blank"><img src="/assets/lastfm_icon.png" alt="Last.fm" /></a></p>
			</div>
			<div class="span2">
				<br />
				<div class="fb-like" data-href="http://www.molamp.net/artists/<%= url_to_lastfm(@artist['name']) %>" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
				<br /><br />
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.molamp.net/artists/<%= url_to_lastfm(@artist['name']) %>" data-text="Listen to <%= @artist['name'] %>" data-via="molamp" data-related="molamp">Tweet</a>
			</div>
		</div>
		<p><%= @artist['bio']['summary'].is_a?(Hash) ? 'No bio' : Sanitize.clean(@artist['bio']['summary']) %></p>	
	  </div>
	</div>
	
	<br />
	
	<div class="row-fluid">
		<div class="span7">
			<ul class="nav nav-tabs" style="border-bottom: none; margin-bottom: 0">
			  <li class="active"><a href="#top-tracks" data-toggle="tab">Top tracks</a></li>
			  <li><a href="#top-albums" data-toggle="tab">Top albums</a></li>
			  <li>
			  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  	<input type="text" class="typeahead" data-provide="typeahead" placeholder="Search in tracklist..." />
			  </li>
			</ul>
	 
			<div class="tab-content">
			  <div class="tab-pane active" id="top-tracks">
					<table class="table table-bordered table-condensed table-hover" style="border-top: none;">
						<thead></thead>
						<tbody>
						<% if @top_tracks %>
							<% 
								# if the artist only has one song then lastfm sends a hash instead of an array
								if @top_tracks.is_a?(Hash)
									@top_tracks = [@top_tracks]
								end 
								
								i=0 
								@top_tracks.each do |track|							
									# some songs don't have an mbid so i'll generate one
									if !track['mbid'].is_a?(String)
										track['mbid'] = '_' + Digest::MD5.hexdigest(track['name'] + @artist['name'])
									end
							%>
							<tr id="<%= track['mbid'] %>" style="background-color: #FFF;cursor:pointer" onclick="javascript:Playlist.play('<%= track['mbid'] %>', null)">
								<td><%= i+1 %></td>
								<td>
									<div class="row-fluid" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
					  					<div class="span1">
					  						<%= track['image'] ? image_tag(track['image'][0]['content'], :alt => track['name'], :width => 35) : image_tag('noimage.jpg', :alt => 'Sorry, no image available', :width => 35) %>
					  					</div>
					  					<div class="span7" itemprop="name" style="color: #08C">
					  						&nbsp;<%= track['name'] %>
					  					</div>
					  					<meta itemprop="url" content ="/artists/<%= url_to_lastfm(@artist['name']) + '/_/' + url_to_lastfm(track['name']) %>">
					  					<div class="span2">
					  						<% if !track['duration'].is_a?(Hash) %>
					  						<span class="label pull-right"><%= convert_seconds_to_time track['duration'].to_i, false %></span>
					  						<meta itemprop="duration" content="PT<%= convert_seconds_to_time track['duration'].to_i, true %>" />
					  						<meta itemprop="interactionCount" content="UserPlays:<%= track['playcount'] %>"/>
					  						<% end %>
					  					</div>
					  					<div class="span2">
					  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" class="btn btn-info btn-small similar_tracks"><i class="icon-plus-sign"></i></a>
					  					</div>
									</div>
								</td>
							</tr>
							<% i=i+1; end %>
							<tr id="more-row" style="background-color: #FFF">
								<td colspan="2">
									<a href="javascript:;" class="btn btn-block btn-primary" id="more-tracks">More tracks...</a>
								</td>
							</tr>
						<% else %>
							<tr>
								<td>Artist has no tracks.</td>
							</tr>
						<% end %>
						</tbody>
					</table>
			  </div>
			  
			  <div class="tab-pane" id="top-albums">
			  		<table class="table table-bordered table-condensed table-hover" style="border-top: none">
						<thead></thead>
						<tbody>
						<% if @top_albums %>
							<% 
								# if the artist only has one album then lastfm sends a hash instead of an array
								if @top_albums.is_a?(Hash)
									@top_albums = [@top_albums]
								end 
							%>
							<% i=0; @top_albums.each do |album| %>
							<tr id="album-<%= i.to_s() %>" style="background-color: #FFF">
								<td><%= i+1 %></td>
								<td>
									<div class="row-fluid">
					  					<div class="span2">
					  						<a href="<%= '/artists/' + url_to_lastfm(@artist['name']) + '/' + url_to_lastfm(album['name']) %>">
					  							<%= album['image'] ? image_tag(album['image'][1]['content'], :alt => album['name'], :width => 70, :class => 'img-rounded') : image_tag('noimage.jpg', :alt => 'Sorry, no image available', :width => 70, :class => 'img-rounded') %>
					  						</a>
					  					</div>
					  					<div class="span10" style="vertical-align:top">
					  						&nbsp;&nbsp;<%= link_to(album['name'], '/artists/' + url_to_lastfm(@artist['name']) + '/' + url_to_lastfm(album['name'])) %><br />
					  						&nbsp;&nbsp;<span class="badge"><%= album['playcount'] %></span> times played on <a href="<%= album['url'] %>" target="_blank"><img src="/assets/lastfm_icon.png" alt="Last.fm" /></a>
					  					</div>
									</div>
								</td>
							</tr>
							<% i=i+1; end %>
						<% else %>
							<tr>
								<td>Artist has no albums.</td>
							</tr>
						<% end %>
						</tbody>
					</table>
			  </div>
			</div>
		</div>
		
		<div class="span5">	
			<div id="right_content">
			<div id="ytplayer" style="width:362px;height:280px;"></div>
			
			<% if @current_user.respond_to?('facebook_token') and @current_user.facebook_token %>
				<div class="alert alert-info">
		  			<button type="button" class="close" data-dismiss="alert">×</button>
		  			<strong>Heads up!</strong> Molamp is set to publish the videos you watch on your Facebook timelime. You can change that on your <a href="/account/social">account</a>.
				</div>
			<% end %>
				
			<% if @artist['similar']['artist'].size > 0 %>
				
				<h4 class="lead">Similar Artists</h4>
				<div style="background-color:#EEE">	
					<table class="table table-hover">
						<thead></thead>
						<tbody>
							<% @artist['similar']['artist'].each do |artist| %>
							<tr>
								<td>
									<a class="pull-left" href="<%= '/artists/' + url_to_lastfm(artist['name']) %>">
							    		<%= artist['image'][2]['content'] ? image_tag(artist['image'][2]['content'], :alt => artist['name'], :width => 64, :class => 'media-object img-rounded') : 
						   													image_tag('noimage.jpg', :alt => 'Sorry, no image available', :height => 64, :class => 'media-object img-rounded', :style => 'height:none') %>
							  		</a>
							  		&nbsp;
									<a href="<%= '/artists/' + url_to_lastfm(artist['name']) %>"><%= artist['name'] %></a>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				
			<% end %>
			</div>
		</div>
	</div>
	
	<div id="footer" style="background-color: #EEE;padding:10px;">
		<div class="row-fluid">
			<div class="span1">
				<a href="javascript:Playlist.next()" class="btn btn-primary">Next</a>
			</div>
			<div class="span9">
				<span id="current_playing"></span>
			</div>
			<div class="span2">
				<h5 style="margin:0"><a href="#">Go to Top</a></h5>
			</div>
		</div>
	</div>
	
	<br />
	
	<ul class="breadcrumb">
	  <li><a href="/">Home</a> <span class="divider">/</span></li>
	  <li class="active"><%= @artist['name'] %></li>
	</ul>
	
	<% if @top_tracks %>
	<script type="text/javascript">
	$(function() {		
		<% i=0; @top_tracks.each do |track| %>
		Playlist.tracks.push({
			uid: <%= i.to_s() %>,
			mbid: "<%= track['mbid'] %>",
			artist: "<%= @artist['name'] %>", 
			title: "<%= track['name'] %>",
			image: "<%= track['image'] ? track['image'][0]['content'] : '/assets/noimage.jpg' %>",
			similar: []
		});
		
		Playlist.searchData.push("<%= track['name'] %>");
		<% i=i+1; end %>
		
		<% if @autoplay == '1' or @autoplay == 'true' %>
		// Need to wait until the youtube player initializes
		setTimeout(function() {
			Playlist.play(Playlist.tracks[0].mbid, null);
		}, 3000); 
		<% end %>
		
		$('.typeahead').typeahead({
			source: Playlist.searchData,
			updater:function (item) {
				var track = Playlist.searchTrack(Playlist.tracks, 'title', item);

				Playlist.play(track.mbid, null);
				
	        	return '';
    		}
		});
	});
	</script>
	<% end %>
	
<% end %>

