<% title 'Search results for ' + @query, false %>

<div>Search results for <strong><%= @query %></strong>:</div>
<br />
<table class="table">
	<thead>
	</thead>
	<tbody>
	<% if !@artists['results']['artistmatches']['artist'].nil? %>
	<% 
		# if the search only has one result then lastfm sends a hash instead of an array
		if @artists['results']['artistmatches']['artist'].is_a?(Hash)
			@artists['results']['artistmatches']['artist'] = [@artists['results']['artistmatches']['artist']]
		end 
	%>
	<% @artists['results']['artistmatches']['artist'].each do |artist| %>
		<tr>
			<td>
				<div class="row-fluid">
				  <div class="span1">
				  	<%= artist['image'][1]['content'] ? image_tag(artist['image'][1]['content'], :alt => artist['name']) : image_tag('noimage.jpg', :alt => 'Sorry, no image available') %>
				  </div>
				  <div class="span11">
				  	<h3><%= link_to artist['name'], '/artists/' + url_to_lastfm(artist['name']) %></h3>
					<p><span class="badge"><%= artist['listeners'] %></span> listeners on <a href="<%= artist['url'] %>" target="_blank"><img src="/assets/lastfm_icon.png" alt="Last.fm" /></a></p>
				  </div>
				</div>
			</td>
		</tr>	
	<% end %>
	<% else %>
		<tr>
			<td>
				No results found...
			</td>
		</tr>
	<% end %>
	</tbody>
</table>