<%= form_for(@user) do |f| %>

	<% if @user.errors.any? %>
	  <br />
	  	<div class="alert alert-block alert-error">
	        <h4 class="alert-heading">Please correct the following errors:</h4>
	        <br />
	        <p>
	      	<% @user.errors.full_messages.each do |msg| %>
	    		<%= msg %><br />
	      	<% end %>
	      	</p>
	    </div>
      <br />
	<% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :placeholder => 'Email' %>
  </div>
  <br />
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, :placeholder => 'Username' %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => 'Password' %>
  </div>
  <br />
  <div class="actions">
    <div><%= f.submit 'Create Account', :class => 'btn btn-large' %></div>
   	<br />or<br /><br /> 
   	<div><%= link_to 'Login with Facebook', '/auth/facebook', :class => 'btn btn-primary' %></div>
  </div>

<% end %>