<%= form_for(@user) do |f| %>

	<% if @user.errors.any? %>
	  <br />
	  	<div class="alert alert-block alert-error">
	        <h4 class="alert-heading">Please correct the following errors:</h4>	        
	      	<br />
	        <p>
	      	<% @user.errors.full_messages.each do |msg| %>
	    		<%= msg %><br />
	      	<% end %>
	      	</p>
	    </div>
	<% end %>

  <input type="hidden" name="user[claimed]" value="true" />
  
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit 'Update', :class => 'btn btn-large' %>
  </div>

<% end %>