<% title 'Account | Social' %>
<div class="row-fluid">
	<div class="span8">
		<div class="well">
		  <h3>Facebook</h3>
	      <% if current_user.facebook_token and @profile %>
	      	<div class="row-fluid">
	      		<div class="span1">
	      			<%= image_tag @profile_pic, :width => 50, :class => 'img-rounded' %>
	      		</div>
	      	  	<div class="span8">
	      	  		Connected as <%= link_to @profile['name'], @profile['link'], :target => '_blank' %>
	      	  		<br />
	      			<a href="/auth/facebook/logout" class="btn">Disconnect</a>
	      		</div>
	      		<div class="span3">
					Social Sharing <a href="/faq#social-sharing" target="_blank" title="Learn about Social Sharing"><i class="icon-info-sign"></i></a> 
					<div class="btn-group" data-toggle="buttons-radio" id="activity_setting">
		  				<button id="activity_setting_off" type="button" class="btn btn-danger <%= !@user.activity_mode ? 'active' : nil %>">Off</button>
		  				<button id="activity_setting_on" type="button" class="btn btn-info <%= @user.activity_mode ? 'active' : nil %>">On</button>
					</div>
				</div>
	      	</div>
	      <% else %>
		  <a href="/auth/facebook" class="btn btn-primary">Connect with Facebook</a>
		  <% end %>
		  
	      <h3>Last.fm</h3>
	      <% if @user.lastfm_token %>
	      	<div class="row-fluid">
	      		<div class="span1">
	      			<%= image_tag @lastfm_user['image'][1]['content'], :width => 50, :class => 'img-rounded' %>
	      		</div>
	      	  	<div class="span8">
	      	  		Connected as <%= link_to @lastfm_user['name'], @lastfm_user['url'], :target => '_blank' %>
	      	  		<br />
	      			<a href="/auth/lastfm/logout" class="btn">Disconnect</a>
	      		</div>
	      		<div class="span3">
					Scrobble Mode <a href="/faq#scrobble-mode" target="_blank" title="Learn about Scrobble Mode"><i class="icon-info-sign"></i></a> 
					<div class="btn-group" data-toggle="buttons-radio" id="scrobble_setting">
		  				<button id="scrobble_setting_off" type="button" class="btn btn-danger <%= !@user.scrobble_mode ? 'active' : nil %>">Off</button>
		  				<button id="scrobble_setting_on" type="button" class="btn btn-info <%= @user.scrobble_mode ? 'active' : nil %>">On</button>
					</div>
				</div>
	      	</div>
	      <% else %>
		  <a href="/auth/lastfm" class="btn btn-danger">Connect with Last.fm</a>
		  <% end %>
	  </div>
	</div>
	<div class="span4">
		<%= render 'panel' %>
	</div>
</div>