<div class="row-fluid" style="margin:10px 0;">
	<div class="span7">
		<div class="powered_by">
			Powered by <a href="http://www.last.fm" target="_blank">Last.fm</a> &amp; <a href="http://www.youtube.com" target="_blank">Youtube</a></p>
		</div>
	</div>
	
	<div class="span5">
		<div class="pull-right">
			<%= link_to image_tag('facebook_icon.png', :alt => 'Facebook', :size => '24x24'), 'http://www.facebook.com/pages/Molamp/282623645175841', :style => 'text-decoration:none', :rel => 'tooltip', :title => 'Like Molamp page on Facebook' %>
			<%= link_to image_tag('twitter_icon.png', :alt => 'Twitter', :size => '24x24'), 'http://www.twitter.com/molamp', :style => 'text-decoration:none',  :rel => 'tooltip', :title => 'Follow Molamp account on Twitter' %>
			<%= link_to image_tag('tumblr_icon.png', :alt => 'Tumblr', :size => '24x24'), 'http://molamp.tumblr.com', :style => 'text-decoration:none',  :rel => 'tooltip', :title => 'Follow Molamp blog on Tumblr' %>
			<%= link_to image_tag('lastfm_icon_big.png', :alt => 'Last.fm', :size => '24x24'), 'http://www.last.fm/group/Molamp', :style => 'text-decoration:none', :rel => 'tooltip', :title => 'Join Molamp group on Last.fm' %>
			<%= link_to image_tag('//ssl.gstatic.com/images/icons/gplus-32.png', :alt => 'Google+', :size => '24x24'), 'https://plus.google.com/113049647993771497908?prsrc=3', :style => 'text-decoration:none', :rel => 'tooltip', :title => 'Follow Molamp page on Google+' %>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span9">
		<footer class="footer">
			<p>
				&copy; <%= Date.today.year %> Molamp <sup><span class="label label-info">beta</span></sup>. <small><%= ENV['rel'] %></small>
			</p>
		</footer>
	</div>
	<div class="span3">
		<ul class="unstyled pull-right">
			<li style="display: inline;margin-left:10px"><a href="/privacy">Privacy</a></li>
			<li style="display: inline;margin-left:10px"><a data-toggle="modal" href="#aboutModal">About</a></li>
			<li style="display: inline;margin-left:10px"><a href="http://blog.molamp.net">Blog</a></li>
			<li style="display: inline;margin-left:10px"><a href="/faq">FAQ</a></li>
		</ul>
	</div>
</div>