<% content_for :head do %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">
<% end %>
<% content_for :meta do %>
<meta property="fb:app_id" content="<%= APP_CONFIG['facebook_api_key'].to_s %>" />
<meta property="og:type" content="music.album" />
<meta property="og:url" content="http://www.molamp.net/artists/<%= url_to_lastfm(@album.artist) + '/' + url_to_lastfm(@album.name) %>" />
<meta property="og:title" content="<%= @album.artist + ' - ' + @album.name %>" />
<meta property="og:image" content="<%= @album.image(3) %>" />
<meta property="og:description" content="Listen to all the tracks from the album <%= @album.name %> by <%= @album.artist %> and other great tracks from similar artists on Molamp" />
<% end %>
<% title @album.artist + ' - ' + @album.name %>
<% description 'Listen to all the tracks from the album ' + @album.name + ' by ' + @album.artist + ' and other great tracks from similar artists on Molamp' %>
			
<div class="row-fluid" itemscope itemtype="http://schema.org/MusicGroup">
  <div class="span3">
  	<%= image_tag(@album.image(3), :alt => @album.name, :class => 'img-polaroid') %>
  </div>
  <div class="span9">
	<div class="row-fluid">
		<div class="span10">
			<h1><%= @album.name %></h1>
			<h2 itemprop="name"><%= link_to(@album.artist, '/artists/' + url_to_lastfm(@album.artist)) %></h2>
			<p><span class="badge"><%= @album.playcount %></span> times played on <%= link_to image_tag('lastfm_icon.png', :alt => 'Last.fm'), @album.url, :target => '_blank' %></p>
		</div>
		<div class="span2">
			<% if Rails.env.production? %>
			<br />
			<div class="fb-like" data-href="http://www.molamp.net/artists/<%= url_to_lastfm(@album.artist) %>/<%= url_to_lastfm(@album.name) %>" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
			<br /><br />
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.molamp.net/artists/<%= url_to_lastfm(@album.artist) %>/<%= url_to_lastfm(@album.name) %>" data-text="Listen to <%= @album.name %> by <%= @album.artist %>" data-via="molamp" data-related="molamp">Tweet</a>
			<% end %>
		</div>
	</div>
  </div>
</div>

<br />

<div class="row-fluid">
	<div class="span7">
		<div id="top-tracks">
			<%= render :partial => 'album_tracks' %>
		</div>
		
		<%= render :partial => 'shared/widgets/facebookcomment', :locals => {:url => 'http://www.molamp.net/artists/' + url_to_lastfm(@album.artist) + '/' + url_to_lastfm(@album.name) } %>
	</div>
	<div class="span5">
		<div id="right_content">
			<div id="ytplayer"></div>
			
			<% if logged_in? and @current_user.activity_mode %>
				<br /><br />
				<div class="alert alert-info">
		  			<button type="button" class="close" data-dismiss="alert">×</button>
		  			Molamp is set to publish the videos you watch for more than 10 seconds on your Facebook timelime. You can disable this setting on your <a href="/account/social">account</a>.
				</div>
			<% end %>
			
			<%= render :partial => 'artists/social_activity' %>		
		</div>
	</div>
</div>

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/artists/<%= url_to_lastfm(@album.artist) %>"><%= @album.artist %></a> <span class="divider">/</span></li>
  <li class="active"><%= @album.name %></li>
</ul>

<%= javascript_tag do %>
var page;

$(function() {
	_.extend(Dispatcher, Backbone.Events);
	
  	page = new Molamp.Albums("<%= @album.artist %>");
  	
  	page.scrobble = <%= current_user.respond_to?('scrobble_mode') and current_user.scrobble_mode === true ? 'true' : 'false' %>;
  	page.activity = <%= current_user.respond_to?('activity_mode') and current_user.activity_mode === true ? 'true' : 'false' %>;
  	
	<% if @autoplay == '1' or @autoplay == 'true' %>
	// Need to wait until the youtube player initializes
	setTimeout(function() {
		//Playlist.play(Playlist.tracks[0].mbid, null, {target:null});
	}, 3000); 
	<% end %>
});
<% end %>
