<% if !@album %>
	<div class="alert alert-error">The album could not be found. Please try searching again.</div>
<% else %>
	<%
		# if the album only has one track then lastfm sends a hash instead of an array
		if @album['tracks']['track'].is_a?(Hash)
			@album['tracks']['track'] = [@album['tracks']['track']]
		end 
	%>

	<% title @album['artist'] + ' - ' + @album['name'], false %>
	<% description 'Listen to all the tracks from the album ' + @album['name'] + ' by ' + @album['artist'] + ' and other great tracks from similar artists on Molamp' %>
	<% meta_var = 
			'<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">'+
			'<meta property="fb:app_id" content="224617567667902" />'+
			'<meta property="og:type" content="music.album" />'+
			'<meta property="og:url" content="http://www.molamp.net/artists/'+url_to_lastfm(@album['artist'])+'/'+url_to_lastfm(@album['name'])+'" />'+
			'<meta property="og:title" content="'+@album['name']+'" />'+
			'<meta property="og:image" content="'+@album['image'][4]['content']+'" />'+
			'<meta property="music:song:url" content="http://www.molamp.net/artists/'+url_to_lastfm(@album['artist'])+'/_/'+url_to_lastfm(@album['tracks']['track'][0]['name'])+'" />'
	meta meta_var.html_safe %>
	
	<div class="row-fluid" itemscope itemtype="http://schema.org/MusicGroup">
	  <div class="span3">
	  	<%= @album['image'][3]['content'] ? image_tag(@album['image'][4]['content'], :alt => @album['name'], :class => 'img-polaroid') : image_tag('noimage_big.jpg', :alt => 'Sorry, no image available', :class => 'img-polaroid') %>
	  </div>
	  <div class="span9">
  		<div class="row-fluid">
			<div class="span10">
				<h1><%= @album['name'] %></h1>
				<h2 itemprop="name"><%= link_to(@album['artist'], '/artists/' + url_to_lastfm(@album['artist'])) %></h2>
				<p><span class="badge"><%= @album['playcount'] %></span> times played on <a href="<%= @album['url'] %>" target="_blank"><img src="/assets/lastfm_icon.png" alt="Last.fm" /></a></p>
			</div>
			<div class="span2">
				<br />
				<div class="fb-like" data-href="http://www.molamp.net/artists/<%= url_to_lastfm(@album['artist']) %>/<%= url_to_lastfm(@album['name']) %>" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
				<br /><br />
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.molamp.net/artists/<%= url_to_lastfm(@album['artist']) %>/<%= url_to_lastfm(@album['name']) %>" data-text="Listen to <%= @album['name'] %> by <%= @album['artist'] %>" data-via="molamp" data-related="molamp">Tweet</a>
			</div>
		</div>
	  </div>
	</div>
	
	<br />
	
	<div class="row-fluid">
		<div class="span7">
			<table class="table table-bordered table-condensed table-hover">
				<thead></thead>
				<tbody>
				<% if @album['tracks']['track'] and @album['tracks']['track'].size > 0 %>
					<% 
						i=0 
						@album['tracks']['track'].each do |track|
							# some songs don't have an mbid so i'll generate one
							if !track['mbid'].is_a?(String)
								track['mbid'] = '_' + Digest::MD5.hexdigest(track['name'] + @album['artist'])
							end 
					%>
					<tr id="<%= track['mbid'] %>" style="background-color: #FFF;cursor: pointer" onclick="javascript:Playlist.play('<%= track['mbid'] %>', null)">
						<td><%= i+1 %></td>
						<td>
							<div class="row-fluid" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
			  					<div class="span1">
			  						<%= image_tag(get_image(@album['image'], 1), :alt => @album['name'], :width => 35) %>
			  					</div>
			  					<div class="span7" itemprop="name" style="color: #08C">
			  						&nbsp;<%= track['name'] %>
			  					</div>
			  					<meta itemprop="url" content ="/artists/<%= url_to_lastfm(@album['artist']) + '/_/' + url_to_lastfm(track['name']) %>">
			  					<div class="span2">
			  						<% if !track['duration'].is_a?(Hash) %>
					  				<span class="label pull-right"><%= convert_seconds_to_time track['duration'].to_i, false %></span>
					  				<meta itemprop="duration" content="PT<%= convert_seconds_to_time track['duration'].to_i, true %>" />
					  				<% end %>
					  			</div>
			  					<div class="span2">
			  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" class="btn btn-info btn-small similar_tracks"><i class="icon-plus-sign"></i></a>
			  					</div>
							</div>
						</td>
					</tr>
					<% i=i+1; end %>
				<% else %>
					<tr>
						<td>Album has no tracks.</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
		<div class="span5">
			<div id="right_content">
				<div id="ytplayer" style="width:362px;height:280px;"></div>
			</div>
		</div>
	</div>
	
	<ul class="breadcrumb">
	  <li><a href="/">Home</a> <span class="divider">/</span></li>
	  <li><a href="/artists/<%= url_to_lastfm(@album['artist']) %>"><%= @album['artist'] %></a> <span class="divider">/</span></li>
	  <li class="active"><%= @album['name'] %></li>
	</ul>
	
	<% if @album['tracks']['track'] and @album['tracks']['track'].size > 0 %>
	<script type="text/javascript">
	$(function() {
		Playlist.artist = "<%= @album['artist'] %>";
		<% i=0; @album['tracks']['track'].each do |track| %>
		Playlist.tracks.push({
			uid: <%= i.to_s() %>, 
			mbid: "<%= track['mbid'] %>",
			artist: "<%= @album['artist'] %>", 
			title: "<%= track['name'] %>",
			image: "<%= get_image @album['image'], 0 %>",
			similar: []
		});
		<% i=i+1; end %>
		
		<% if @autoplay == '1' or @autoplay == 'true' %>
		// Need to wait until the youtube player initializes
		setTimeout(function() {
			Playlist.play(Playlist.tracks[0].mbid, null);
		}, 3000); 
		<% end %>
	});
	</script>
	<% end %>

<% end %>

