<td id="<%= activity.id %>">
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object img-rounded" src="<%= activity.image %>" width="50">
		</a>
		<div class="media-body">
			<h5 class="media-heading">
				<a href="/artists/<%= activity.artist_url %>/_/<%= activity.track_url %>"><%= activity.track %></a>
			</h5>
			<i><%= activity.action %></i>
			
			<div><a href="<%= activity.remove_link %>"><%= activity.remove_text %></a></div>
		</div>
	</div>
</td>