<% title 'Sign In'%>

<div style="text-align: center">
	<h1>Sign In</h1>
	
	<%= form_for @user_session, :url => user_session_path do |f| %>
	
	  <% if @user_session.errors.any? %>
	  	<div class="alert alert-block alert-error">
	        <h4 class="alert-heading">Please correct the following errors:</h4>	        
	      	<br />
	        <p>
	      	<% @user_session.errors.full_messages.each do |msg| %>
	    		<%= msg %><br />
	      	<% end %>
	      	</p>
	    </div>
	  <% end %>
	  
	  <%= f.label :email %>
	  <%= f.text_field :email, :placeholder => 'Email' %><br />
	  <br />
	  <%= f.label :password %>
	  <%= f.password_field :password, :placeholder => 'Password' %><br />
	  <br />
	  <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => 'display:inline;' %><br />
	  <br />
	  <div><%= f.submit 'Sign In', :class => 'btn btn-large' %></div>
	  <br />or<br /><br />
	  <div><%= link_to 'Login with Facebook', '/auth/facebook', :class => 'btn btn-primary' %></div>
	  
	<% end %>
</div>
