<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : 'Molamp - Discover your music' %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Music Online Amplifier">
    <meta name="author" content="Ionut Moraru">
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  	<% if Rails.env.production? %>
  	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34505509-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<% end %>
</head>
<body>

	<div class="container" style="width:900px">
		<div class="header">
			<div class="row-fluid">
				<div class="span8">
					<a href="/"><%= image_tag("logo.png", :alt => "molamp.net", :height => 70) %></a>
				</div>
				<div class="span4">
					<br />
					<form name="search" method="GET" action="/search">
						<div class="pull-right">
							<input type="hidden" name="w" value="generic" />
							<div class="input-append">
								<input size="12" name="q" type="text" placeholder="Search">
								<button class="btn" type="submit"><i class="icon-search"></i></button>
							</div>
						</div>
						<div class="pull-right">
							<% if cookies[:lastfm_session] %>
								<img src="/assets/lastfm_icon.png" /> <%= link_to cookies.signed[:lastfm_user], 'http://last.fm/user/' + cookies.signed[:lastfm_user], :target => '_blank' %> | <%= link_to 'Logout', '/auth/logout' %>
							<% else %>
								<a href="http://www.last.fm/api/auth/?api_key=<%= APP_CONFIG['lastfm_api_key'] %>">Sign in with <img src="/assets/lastfm_icon.png" /></a>
							<% end %>
						</div>
					</form>
				</div>
			</div>
		<div>
		
		<br />
		
		<% if flash[:notice] %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <strong>Hurray!</strong> <%= flash[:notice] %>
		</div>
		<% end %>
		
		<div class="well">
			<%= yield %>
		</div>
		
		<div class="row-fluid">
	  		<div class="span11">
	  			<footer class="footer">
					<p>
						&copy; <%= Date.today.year %> Molamp <sup><span class="label label-info">beta</span></sup>. 
						Made with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. 
						Powered by <a href="http://www.last.fm" target="_blank"><img src="/assets/lastfm_icon.png" /></a>.<br />
						<i><%= ENV['rel'] %></i>
					</p>
				</footer>
	  		</div>
	  		<div class="span1">
	  			<ul class="unstyled">
	  				<li style="display: inline;"><a data-toggle="modal" href="#aboutModal">About</a></li>
	  			</ul>
	  		</div>
		</div>	
	</div>
	
	<div class="modal hide" id="aboutModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>About</h3>
	  </div>
	  <div class="modal-body">
	    <p>You can contact me at morion4000[at]gmail.com</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
	  </div>
</div>

<% if Rails.env.production? %>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/N52r4ZTjRuvQSN0GCvovQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<% end %>

</body>
</html>
