<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'shared/head' %>
<body>

<%= render :partial => 'shared/widgets/facebook' %>
<%= render :partial => 'shared/widgets/twitter' %>

<div class="container main_content">
	<%= render :partial => 'shared/header' %>
	
	<div id="application_main_content">
		<%= yield %>
	</div>
</div>

<div id="application_footer">
	<%= render :partial => 'shared/controls' %>
	
	<div class="container footer_content">
		<%= render :partial => 'shared/footer' %>
	</div>
</div>
		
<%= render :partial => 'shared/modals' %>

<%= render :partial => 'shared/widgets/uservoice' %>

<%= render :partial => 'shared/handlebars'%>

<script type="text/javascript">
$(function() {
	Alike.scrobble = <%= current_user.respond_to?('scrobble_mode') and current_user.scrobble_mode === true ? 'true' : 'false' %>;
	Alike.activity = <%= current_user.respond_to?('activity_mode') and current_user.activity_mode === true ? 'true' : 'false' %>;
});
</script>

<%= render :partial => 'shared/debug' %>

</body>
</html>
