<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ALike.fm - Discover your favorite music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container" style="width:900px">
		<div class="header">
			<a href="/"><%= image_tag("logoalike.png", :alt => "alike.fm") %></a>
		<div>
		
		<div class="well">
			<%= yield %>
		</div>
		
		<div class="row-fluid">
	  		<div class="span10">
	  			<footer class="footer">
					<p>&copy; ALike.fm 2012. Made with <a href="">Bootstrap</a>, <a href="#">Rails</a> and <a href="">EmberJS</a>.<br />Powered by <a href="">Last.fm</a> and <a href="">Youtube</a>.</p>
				</footer>
	  		</div>
	  		<div class="span2">
	  			<ul style="display:block">
	  				<li><a data-toggle="modal" href="#aboutModal">About</a></li>
	  				<li><a href="#">Privacy</a></li>
	  				<li><a href="#">Contact</a></li>
	  			</ul>
	  		</div>
		</div>	
	</div>
	
	
	<div class="modal hide" id="aboutModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>About alike.fm</h3>
	  </div>
	  <div class="modal-body">
	    <p>Bla bla bla...</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
	  </div>
</div>

</body>
</html>
